local wezterm = require 'wezterm'
local config = {}

{{- if .is_windows }}
config.default_prog = {'pwsh.exe'}
{{- else if .is_darwin }}
config.default_prog = {'/opt/homebrew/bin/zsh'}
{{- else }}
config.default_prog = {'/usr/bin/zsh'}
{{- end }}

return config
